body{
    background-color: #f5f5f5 !important; 
}

:root{
    --main-color : #b0adad;
    --main-box-shadow-color:  0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    --main-border-color:#1e88e5;
}

a{ 
    text-decoration: none;
}
.header-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--main-box-shadow-color);
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    height: 60px;
    position:sticky;
    z-index: 10;
    top: 0;
}

.swimcloud-logo{
    align-items: center;
    margin-left: 10px;

}
.search-wrap{
    width: 50%;
    position: relative;
}

.search-box{
    background-color: #ece7e7;
    border-radius: 10px;
    border: none;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 16px;
    justify-content: center;
    color: var(--main-color);
    padding-left: 40px;
    color: #000;
}

.search-box:focus{
    background-color: #fff;
}

.icon-search{
    color: #444;
    top: 8px;
    left: 10px;
    line-height: normal;
    position:absolute;
}

.end{
    display: flex;
    padding: 0;
    gap: 10px;
}

.end-item{
    font-size: 14px;
    line-height: 30px;  
    color: var(--main-color);
    margin-right: 10px;
    position: relative;
    align-items: center;
}

/* .log-avatar{
    border-radius: 100%;
    margin-left: 40px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: block;
} */


.header-cover{
    background-color: #D9AFD9;
    background-image: linear-gradient(109deg, #D9AFD9 0%, #97D9E1 100%);    
    background-repeat:no-repeat;
    height: 200px;
    background-size: cover;
}
.conteiner{
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.conteiner .cover{
    max-height: 220px;
    background-color: #eeebeb;
    background-size: cover;
    background-position: 90%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    position: relative;
    overflow: hidden;
}

.avatar-img{
    border-radius: 100%;
}

.spin{
        animation: rotation 6s infinite linear;
      }
      
@keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
}

.spin-btn{
    position: fixed;
    z-index: 10px;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: none;
    box-shadow:  var(--main-box-shadow-color);
    background-color: var(--main-border-color);
    width: 60px;
    height: 60px;
}

.spin-btn span{
    font-size: 32px;
    color: #fff;
}

.header{
    box-shadow: var(--main-box-shadow-color);
    padding-bottom: 6px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fff;
}

.header .header-cover{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    align-items: flex-start;
    overflow: hidden;
}

.header-body{
    padding: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.name {
    margin: 0;
}

.NI{
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon-varifed{
    color: var(--main-border-color);
    font-size: 6em;
    line-height: normal;
    margin: 0;
}

.icon-favorite{
    color: var(--main-border-color);
    font-size: 16px !important;
    line-height: normal;
    margin: 0; 
    margin-top: 2px;
}

.point::after{
    content: "•";
    margin-left: 6px;
    color: #444;
    border-radius: 100%;
}

.list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.nav{
    display: flex;
    margin-left: 20px;
}
.nav-item{
    font-size: 17px;
    height: 30px;
    line-height: 30px;  
    color: var(--main-color);
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}
.nav-item{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    color: var(--main-color);
    user-select: none;
    border: none;
    background: none;
    white-space: nowrap;
}
.nav .active{
    color: #1e88e5;
    font-weight: bold;
}

.nav .active::after{
content:"";
border: 2px solid var(--main-border-color);
position: absolute;
width: 100%;
bottom: -6px;
right: 0;
}

.cards{
    margin-top: 20px;
}

.position{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-items:flex-start;
}

.under{
    display: grid;
    grid-gap: 10px;
}

.full-width{
    display: block;
    margin-top: 10px;
    width: 100%;
}

.card{
    background-color: #fff;
    box-shadow: var(--main-box-shadow-color);
    border-radius: 8px;
    margin: 0;
    padding: 0;

}

.card-alt{
    width: 380px;
    overflow: hidden;
}
.card-header{
    border-bottom: 1px solid #e8e0e0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title{
   margin: 0;
   font-size: 20px;
}

.card-body{
    padding: 20px;
}


.btn{
    background-color: #b0d3f1;
    border-radius: 6px;
    font-size: 14px;
    background: transparent;
    border-color: var(--main-border-color);
    color: var(--main-border-color);
    padding: 8px 10px;

}

.btn:hover{
    box-shadow: 0px 1px 3px 3px rgb(243, 215, 168);
}

.friends-name{
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
    color: #626f76;
    font-weight:normal;
    text-align: center;
}

.images{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}
.avatar{
    border-radius: 100%;
    margin: 0;
    padding: 0;
    width: 60px;
}

.avatar:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
ul{
    list-style: none;
}

.stats{
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.stats-item{
    flex: 1;
}

.stats-item:not(:last-child){
    border-right: 1px solid #e8e0e0;
    padding-right: 10px;
}

.stats-label{
    margin: 0;
    color: var(--main-color);
}

.stats-value{
    margin: 0;
}

.body{
    display: flex;
    margin: 0;
    padding: 0;
}

.photo{
    padding: 20px;
    padding-left: 0;
}

.title{
    margin-bottom: 0;
    padding: 0;
}

.quote{
    margin: 0;
    padding: 0;
    padding-left: 20px;
    border-left: 3px solid #e8e0e0;
}

.teams{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-body{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-items: center;
}

.logo:last-child{
    margin:0;
    padding: 0;
}

.city{
    margin: 0;
    padding: 0;
    color: var(--main-color);
}

.profile-photos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.anabel-photos{
    height: 275px;
}

.anabel-photos:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.footer{
    margin: 0;
    padding: 0;
    position: relative;
}

.backgound{
    display: block;
    width: 100%;
    opacity: .6;
    max-height: 400px;
    bottom: -100px;
    z-index: -3;
    position: absolute;
}

.form{
display: flex;
justify-content: center;
align-items: center;
margin-top: -30px;
height: calc(100vh - 60px);
/* height: 100vh; */

}

.width{
    width: 380px;
}

.login-header{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 20px;
}

.question{
    display: flex;
    justify-content: center;
}

.register-header{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
}

.photo-forms{
    margin: 0 auto;
    display: block;
}


/* Making Responsive */

  @media (max-width: 768px){
      .cards{
         grid-template-columns: 1fr;
        }
  }
  @media (max-width: 658px){

    .img{
        border-radius: 100%;
        border: 3px solid white;
        top: -50px;
        position: absolute;

    }

    .header-body{
        padding: 40px;
        position: relative;
        display: block;
        gap: 20px;
        align-items: stretch;
    }

    .header-conteiner{
        margin: 0;
    }

    .search-wrap{
        width: 40%;
        position: relative;
    }

    .header{
        border-radius: 0;
    }

    .log-avatar{
        width: 35px;
        height: 35px;
    }
  }
