.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    height: calc(100vh - 60px);
}
.form__login-header{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 20px;
}
.form__login-question{
    display: flex;
    justify-content: center;
}
.form__register-header{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
}
.form__photo-forms{
    margin: 0 auto;
    display: block;
}